GCP_PROJECT_ID=seventh-botany-506408-i1
GCS_BUCKET=akshay-ecommerce-data-lake
GCP_REGION=us-central1
KAGGLE_DATASET=olistbr/brazilian-ecommerce
KAGGLE_API_TOKEN=
INGESTION_TOKEN=replace-with-a-long-random-value
PORT=8080